%p#notice= notice
%p
  User name:
  =@user.username
%p
  Email:
  =@user.email
%p
  Age:
  =@user.age
%p
  Profile Image
  =image_tag @user.image_url
%p
  =link_to 'followers', followers_path(@user)
  =@user.followers.count
%p
  =link_to 'following', following_path(@user)
  =@user.following.count
Wall
- @user.wall_posts.each do |post|
  %p
    =link_to post.poster.username , post.poster
    =post.content
    =distance_of_time_in_words(post.created_at,Time.zone.now)
    %p
      -post.wall_comments.each do |comment|
        %p.some{ :style => 'padding-left:0.5cm;' }
          =link_to comment.commenter.username , comment.commenter
          =comment.content
          =distance_of_time_in_words(comment.created_at,Time.zone.now)
= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Back', users_path
