%h1 Listing guest_lists

%table
  %thead
    %tr
      %th
      %th
      %th
      
  %tbody
    - @guest_lists.each do |guest_list|
      %tr
        %td= link_to 'Show', guest_list
        %td= link_to 'Edit', edit_guest_list_path(guest_list)
        %td= link_to 'Destroy', guest_list, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Guest list', new_guest_list_path
